<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>
<div class="text-5xl">
<h1>タスク管理アプリ</h1>
</div>
<div class="mt-5 inline-flex h-12 items-center justify-center rounded-md bg-neutral-950 px-6 font-medium text-neutral-50 transition active:scale-110 ">
<%= link_to "タスク新規作成", new_task_path %>
</div>

<div class="mt-5 text-3xl">
<h1>タスク一覧</h1>
</div>

<div class="my-4">
  <p>未完了タスク合計数: <%= @tasks.where(done: false).count %></p>
  <p>完了タスク合計数: <%= @tasks.where(done: true).count %></p>
</div>

<div class="mt-5">
  <% @tasks.each do |task| %>
    <%= render task %>
    <div>
    <p>
      <%= link_to "Show this task", task %>
    </p>
    </div>
  <% end %>
</div>